<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Log</title>
  <style>
    .containerh {
      text-align: center;
      margin-bottom: 20px;
    }

    .containeri {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .containert {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    h1 {
      font-family: Arial, sans-serif;
      font-size: 24px;
      color: #333;
      margin: 0;
    }

    .morning-button {
      padding: 10px 20px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #fff;
      background-color: #ff9800;
      /* Orange */
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .evening-button {
      padding: 10px 20px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #fff;
      background-color: #3f51b5;
      /* Indigo */
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .morning-button:hover {
      background-color: #f57c00;
      /* Darker Orange */
    }

    .evening-button:hover {
      background-color: #303f9f;
      /* Darker Indigo */
    }

    .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f2f2f2;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .login-form input[type="submit"] {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .login-form input[type="submit"]:hover {
      background-color: #0056b3;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-family: Arial, sans-serif;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #eaeaea;
    }
  </style>
</head>

<body>
  <div class="containerh">
    <h1>Time Log - <span id="displayName"></span></h1>
    <h4><span id="message"></span></h4>
  </div>
  <div class="login-container">
    <div class="login-form">
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button class="morning-button" onclick="login()">Login</button>

    </div>

  </div>

  <script>

    function login() {
      var userName = document.getElementById('username').value.trim();
      var password = document.getElementById('password').value.trim();
      var element = document.getElementById('message');
      var displayName = document.getElementById('displayName');
      if (userName && password) {

        fetch('/timelogdetail', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username: userName,
            password: password
          })
        })
          .then(async response => {
            console.log(response);
            if (response.ok) {
              localStorage.setItem('un', userName);
              localStorage.setItem('pw', password);
              displayName.innerText=userName;
              element.innerText = 'Login successfully!';
              window.location.href = '/timeinfo';
            }
            else {
              alert(data.error);
              return false;
            }
          })
          .catch(error => {
            element.innerText = 'Error in login!';
            console.log('Error capturing time log:', error);
          });
      }
    }

   
  </script>
</body>

</html>